doctype html
html(lang="ja")
  head
    include ../includes/head
    title Document
  body
    include ../includes/header
    h2 Sign up
    form(action="/auth/signup", method="post")
      input#name(type="text", name="name", placeholder="name")
      br
      input#password(type="password", name="password", placeholder="password")
      br
      input#password_confirmation(type="password", name="password_confirmation", placeholder="password_confirmation")
      br
      input(type="submit", value="Sign in", placeholder="password confirmation")