doctype html
html(lang="ja")
  head
    include includes/head
    title #{site_name}
  body
    include includes/header
    main
      h2 Sign in
      a(class="button" href="/login") Sign in with #{siteInfo.provider}
    include includes/footer