doctype html
html(lang="ja")
  head
    include includes/head
    title #{site_name}
  body
    include includes/header
    main
      h2 Not Found
      p Sorry, we can’t find the page you’re looking for.
    include includes/footer