doctype html
html(lang="ja")
  head
    include includes/head
    title #{site_name}
  body
    include includes/header
    main
      h2 Setup
      h3 Create an administrator account
      form(action="/setup", method="post" class="signin")
        label(for="name") User Name
        input(type="text", name="name", placeholder="")
        label(for="password") Password
        input(type="password", name="password", placeholder="")
        input(type="submit", value="Sign up")
    include includes/footer